@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

main {
  padding-top: 7%;
  background: rgba(251, 237, 218, 1);
}

* {
  margin: 0;
}

h1 {
  font-family: Noto Serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  text-align: center;
}

.header__title p {
  padding-top: 1%;
  text-align: center;
}

.mainImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.mainImage img {
  width: 100%;
}

.HomeSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 68%;
  height: 200px;
  background-color: white;
  margin-top: 5%;
  border-radius: 20px;
  margin-left: 15%;
}

.HomeSearchNav {
  display: flex;
  gap: 70px;
  margin-left: 9%;
}

.HomeSearchRentBtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.HomeSearchSellBtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.HomeSearchBuyBtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.HomeSearchNav button {
  font-family: Noto Serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.HomeSearchAny {
  display: flex;
  gap: 4%;
  margin-left: 11%;
}

.description {
  font-family: Noto Serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.Search {
  background: rgba(19, 166, 186, 1);
  border: none;
  border-radius: 20px;
  padding: 18px;
  width: 150px;
  color: white;
  font-family: Noto Serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}

.HomeSearchLine {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .MainHomeSearchAny {
    gap: 2%;
  }
}

@media screen and (max-width: 1245px) {
  .Search {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .Search {
    padding: 5px;
  }

  .description {
    font-size: 21px;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 47px;
    line-height: 68px;
  }

  .Search {
    padding: 0;
    height: 46px;
    width: 78px;
    line-height: 44px;
  }

  .HomeSearch {
    height: 165px;
  }

  .HomeSearchAny {
    margin-left: 4%;
  }
}

@media screen and (max-width: 576px) {
  .HomeSearch {
    display: none;
  }

  main {
    padding-top: 0%;
  }
}
