@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

.header {
  background: rgba(251, 237, 218, 1);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

.header__general {
  display: flex;
  align-items: center;
  gap: 100%;
  justify-content: center;
  padding: 3%;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__links {
  text-decoration: none;
  color: black;
  font-family: "Noto Serif", serif;
  flex-wrap: wrap;
}

.SignIn {
  width: 120px;
  height: 50px;
  background: rgba(19, 166, 186, 1);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.SignIn p {
  color: white;
  font-size: 20px;
  font-family: "Noto Serif", serif;
  line-height: 29px;
}


@media screen and (max-width:576px){
    .nav{
        padding: 3%;
    }
}